main {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  z-index: 2;
}

.video-description {
  width: 50%;
  font-size: 30px;
  text-align: center;
  color: white;
  background: rgba(218, 0, 0, 0.5);
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  padding: 50px;
  border-radius: 15px;
  font-weight: 600;
}

.videos-container {
  width: 87%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.video-main-container {
  width: 95%;
  display: flex;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.video-main {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video {
  width: 90%;
  height: 250px;
  margin: 50px 0;
}

.video-main-description {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 0 30px;
}

.video-main-description h3 {
  font-weight: 700;
}

.video-main-description input {
  padding: 5px 10px;
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.more-videos {
  margin: 50px 0;
  width: 95%;
  display: flex;
  justify-content: space-around;
}

.video-item {
  width: 30%;
  height: 500px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

@media (max-width: 1050px) {
  .video-grid {
    display: flex;
    flex-direction: column;
  }

  main p {
    width: 90%;
    font-size: 19px;
  }

  .video-main {
    width: 80%;
    margin-top: 30px;
  }

  .more-videos {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  .video-main-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .video-main-description {
    width: 80%;
    text-align: center;
    font-size: 0.9rem;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
    padding: 0;
  }

  .video-main-description p {
    width: 100%;
    font-size: 0.9rem;
  }


  .video-description {
    width: 90%;
    font-size: 19px;
    padding: 20px;
  }
}